div(class=`Wrapper ${styles.wrapper}`)
  h1(class=`Title ${styles.title}`) About

  p(class=`Description ${styles.description}`)
    | This gallery includes images of various landscapes and nature from around the world captured in different seasons and weather conditions. The photographs are edited to enhance the natural beauty and showcase the unique style of Chris Ross Harris.

  p(class=`Description ${styles.description}`)
    | In addition the gallery also includes portraits of individuals and groups captured with utmost care and attention to detail. The photographs showcase the emotions and individuality of the subjects making each image a work of art.

  div(class=`Social ${styles.social}`)
    span(class=styles.social__title) Explore

    ul(class=styles.social__list)
      each social, index in socials
        li(class=styles.social__item)
          a(class=styles.social__link href=social.url target="_blank")=social.label
